*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
}
img{
    max-width: 100%;
}
.mail{
    width: 79%;
    margin: 0 auto;
    margin-top: 65px;
    text-align: end;
    font-size: 25px;
}
.name{
    margin-top: 100px;
    font-size: 150px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}
.first-name{
    font-weight: 300;
}
.position{
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 2px;
    color: rgb(206, 206, 206);
}
.hid-mail{
    width: 79%;
    display: none;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
}
.piclist,.logolist{
    width: 79%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.piclist{
    margin-top: 150px;
}
.pic{
    width: 32%;
    padding-bottom: 30px;
}
.descrptn{
    color: rgb(206, 206, 206);
    margin-top: 110px;
    margin-bottom: 80px;
    font-size: 50px;
    font-weight: 700;
}
.logolist{
    justify-content: space-around;
    margin-bottom: 250px;
}

.logo{
    width: 10%;
}
.logo img{
    max-height: 80px;
}
.line{
    width: 79%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    gap: 15px;
}
.line hr{
    margin: 10px;
}
.icons{
    display: flex;
    font-size: 30px;
    justify-content: center;
    gap: 25px;
    margin-bottom: 100px;
}
.icons i{
    width: 50px;
    height: 50px;
    border: 1px solid white ;
    border-radius: 50%;
    padding: 10px;
    color: white;
}
.passion{
    margin-bottom: 100px;
    font-size: 23px;
    font-weight: 700;
}
@media screen and (max-width: 475px) {
    .mail{
        visibility: hidden;
    }
    .name{
        font-size: 65px;
    }
    .position{
        margin-top: 15px;
        font-size: 35px;
    }
    .hid-mail{
        display: block;
        margin-top: 8px;
        font-size: 20px;
    }
    .pic{
        width: 100%;
    }
    .descrptn{
        font-size: 35px;
    }
    .logolist{
        gap: 50px;
    }
    .logo{
        width: 30%;
    }
}